[Unit]
Description=Factorio Service
After=network.target

[Service]
ExecStart=/bin/bash /home/ubuntu/website/scripts/factorio.sh
RemainAfterExit=yes
User=ubuntu

[Install]
WantedBy=multi-user.target


